* {
    margin: 0;
    padding: 0;
}

body {
    /* sizing */
    margin: auto;
    
    /* styling */
    background: url("../images/cloudy-day.png");
    
    font-family: 'EB Garamond', serif;

    color: #777777;
}

/* ********** NAV BAR ************ */

/* entire navbar */
.navbar {
    /* styling */
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

/* logo + menu  */
.container {
    /* sizing */
    max-width: 960px;
    margin: auto;
    
    /*position */
    display: flex;
    justify-content: space-between;  
}

.logo_name {
    /* sizing */
    padding: 20px;

    /* styling */
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* position */
}

nav li {
    list-style: none;
    padding: 20px 0;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #777777;
}

.menu_options {
    display: flex;
}


/* *************** COMMON *******************  */

.container_main {
    /* sizing */
    width: 960px;
    margin: 20px auto;

    /* styling */
    background-color: #ffffff;  
    border: 1px solid #dddddd;  
}

.container_border {
    margin: 20px;
}


.page_title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

hr {
    margin: 15px 0px;
}

.container_content {                    
    width: 100%;                                                
}

/* ***************  ABOUT PAGE  *******************  */

.my_picture {
    padding-right: 20px;
}

/* main content */
.about_me {
    /* styling */
    line-height: 2.0rem;
}

img {
    /* sizing */
    width: 200px;
    max-height: 200px;    
}

/* ***************  PORTFOLIO PAGE  *******************  */

.container_portfolio {
    display: flex;
}

.div_image {
    width: 60%;
    height: 100px;
    margin: 10px;
    background-color: red;
}

/* ***************  CONTACT PAGE  *******************  */

.container_form{
    display: flex;
    flex-direction: column;
}

.form_labels {
    padding: 5px  0;
}

.form_text_inputs {
    padding: 5px;
    font-size: .8em;
}

.submit {
    /* sizing */
    width: 100px;
    margin-top: 20px;
    padding: 10px 10px;

    /* styling */
    color: white;
    border: 1px solid #4aaaa5;
    background-color: #4aaaa5;
}
